$branco: #fff;
$azul: #2978b5;
$azul-claro: #4ca1a3;

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

.navegacao {
    height: 8rem;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

    &__conteudo {
        display: flex;
    }

    &__lista {
        margin-left: 2rem;
        margin: 2rem auto;

        .lista__link {
            margin-right: 3rem;
            text-decoration: none;
            color: $azul;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__contato {
        display: flex;
        background: $azul-claro;
        color: $branco;

        .envelope {
            margin-top: 1rem;
            margin-left: 2rem;
        }

        .contato__texto {
            margin-top: 0.7rem;
            margin-left: 0.5rem;
            padding-right: 1rem;
            border-right: 1px solid var($branco);
        }

        .contato__phone {
            border: none;
        }
    }
}


