$tomate: tomato;
$branco: #fff;
$preto: #000;

.secoes__lead-btn {
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.5rem;
    background: $tomate;
    cursor: pointer;
    color: $branco;
}

.secoes__lead-btn:hover, .secoes__pacotes-btn-ancora:hover {
    text-decoration: none;
    color: $branco;
}

.secoes__pacotes-btn-ancora {
    padding: 0.5rem 1rem;
    text-decoration: none;
    background: $preto;
    color: $branco;
    border-radius: 1rem;
    cursor: pointer;
}