$preto: #333;
$azul: #2978b5;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.secoes__titulo {
    font-family: 'Roboto', sans-serif;
}

.navegacao__logo, .rodape__logo {
    display: flex;
    margin-top: 1rem;
    margin-left: 2rem;
    color: $azul;
    font-family: 'Fugaz One', cursive;
    font-size: 1rem;
}

/*Rodapé*/
.rodape__pagamento-titulo {
    margin-top: 1rem;
    color: $preto;
}