$preto: #333;
$cinza: #999;
$azul: #2978b5;

.rodape {
    background: rgba(0,0,0,0.03);

    &__container {
        height: 80%;
        display: flex;
        justify-content: space-around;
        padding-top: 2rem;
        margin: 0 2rem;
        color: $cinza;

        .lista__travelfy {
            list-style: none;
            height: 100%;

            .lista__travelfy-titulo {
                margin-bottom: 2rem;
                color: $preto;
            }
    
            .lista__atendimento-link {
                color: $cinza;
                text-decoration: none;
            }
        }

        &__pagamento {
            color: $preto;
        }

        .pagamento__creditCard {
            display: flex;
            list-style: none;

            .creditCard{
                margin-right: 1rem;
                color: $preto
            }
        }

        .lista__televendas {
            list-style: none;
            text-decoration: none;

            .televendas__titulo {
                color: $preto;
            }

            .lista__televendas-link {
                text-decoration: none;
                color: $cinza;
            }
        }
    }

    &__base {
        height: 20%;
        display: flex;
        align-items: center;
        background: rgba(0,0,0,0.04);

        .rodape__logo {
            height: 100%;

            .rodape__logo-titulo {
                color: $azul;
            }
        }

        .rodape__copyright {
            display: flex;
            margin-left: 3rem;

            .copyright__link {
                color: $cinza;

                &:hover {
                    color: $cinza;
                }
            }
        }
    }
}
















