@media (max-width: 800px) {

    /******* Navegação *******/

.navegacao {
    height: 12rem;
}

.navegacao__conteudo {
    display: flex;
    flex-direction: column;
}

.navegacao__contato {
    flex-direction: column;
}

.navegacao__contato-email {
    border-bottom: 1px solid var(--branco);
}

.contato__texto {
    border-right: none;
}

/********** Destaque ***********/

.titulo-p1, .titulo-p2 {
    position: relative;
    bottom: 5rem;
    font-size: 1.2rem;
}
    
}
