@media (max-width: 800px) {

    /******* Navegação *******/

.navegacao {
    height: 12rem;
}

.navegacao__conteudo {
    display: flex;
    flex-direction: column;
}

.navegacao__contato {
    flex-direction: column;
}

.navegacao__contato-email {
    border-bottom: 1px solid var(--branco);
}

.contato__texto {
    border-right: none;
}

/********** Destaque ***********/

.titulo-p1, .titulo-p2 {
    position: relative;
    bottom: 5rem;
    font-size: 1.2rem;
}

/******** Lead ***************/

.secoes__lead {
    height: 25rem;
}

.mockup__img {
    width: 27rem;
}

.lead__mockup {
    margin-top: 3.5rem;
    margin-left: 11rem;
    width: 10%;
}

.lead__texto {
    width: 30%;
}

.lead__texto-paragrafo {
    font-size: 0.7rem;
}

.lead__btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-align: center;
    color: var(--branco);
}

.lead__texto-titulo {
    font-size: 3rem;
}

/************ Seções pacotes **************/

.secoes__pacotes {
    height: 10rem;
}

.pacotes__texto-descricao {
    display: flex;
    justify-content: center;
    width: 50%;
}

.pacotes__texto-paragrafo {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
}

.pacotes__texto {
    margin-right: 3rem;
}

.pacotes__btn {
    width: 8.31rem;
    text-align: center;
    margin-top: 4rem;
}

.pacotes__btn-lead {
    padding: 0.5rem 1rem;
    font-size: 0.4rem;
    text-decoration: none;
}

/*********** Viagens **************/

.secoes__viagens {
    height: 150rem;
}

.secoes__viagens-container {
    flex-direction: column;
}

.viagens__card {
    width: 16rem;
}

.card__ancora {
    text-decoration: none;
}

/********* Vantagens **********/

.secoes__vantagens {
    height: 120rem;

}

.vantagens__cards-container {
    flex-direction: column;
}

.vantagens__cards {
    width: 90%;
}

/************ Rodapé ***************/

.rodape {
    height: 70rem;
}

.rodape__container {
    flex-direction: column;
    height: 70%;
}

.rodape__base {
    height: 30%;
    flex-direction: column;
}

.rodape__logo {
    margin-top: 6rem;
}

.rodape__copyright {
    margin-top: 2rem;
}

.lista__travelfy {
    height: 40%;
}

.lista__atendimento {
    height: 40%;
}

.container__pagamento {
    height: 20%;
    margin-left: 2rem;
    margin-bottom: 5rem;
}
    
}
