.navegacao {
    height: 8rem;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.navegacao__conteudo {
    display: flex;
}

.navegacao__logo, .rodape__logo {
    display: flex;
    margin-top: 1rem;
    margin-left: 2rem;
    color: var(--azul);
    font-family: 'Fugaz One', cursive;
    font-size: 1rem;
}

.navbar-nav {
    margin-top: 2rem;
}

.nav-item {
    margin: 1rem auto;
}

.nav-ancora{
    color: var(--azul);
}

.nav-link:hover {
    text-decoration: none;
}

.navegacao__contato {
    display: flex;
    background: var(--azul-claro);
    color: var(--branco);
}

.navegacao__contato-email, .navegacao__contato-phone {
    display: flex;
}

.envelope {
    margin-top: 1rem;
    margin-left: 2rem;
}

.contato__texto {
    margin-top: 0.7rem;
    margin-left: 0.5rem;
    padding-right: 1rem;
    border-right: 1px solid var(--branco);
}

.contato__phone {
    border: none;
}