.secoes__vantagens {
    height: 40rem;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)100%), url(../../img/turismo__11.jpeg)no-repeat center/cover;
}

.vantagens__cards-container {
    height: 35rem;
    display: flex;
    justify-content:space-between;
    margin: 0 2rem;
}

.vantagens__cards {
    height: 25rem;
    width: 30rem;
    margin: 5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    background: var(--branco);
    font-family: 'Roboto', sans-serif;
}

.titulo__vantagens {
    padding-top: 2rem;
    margin-left: 2rem;
    color: var(--branco);
    font-size: 2rem;
}

.vantagens__paragrafo-titulo {
    color: var(--branco);
    font-size: 1.2rem;
    margin-left: 2rem;
}

.shield, .wallet, .cog {
    margin: 2rem 0;
    margin-left: 1rem;
    color: var(--azul);
}

.vantagens__paragrafo-cards {
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    color: rgba(0,0,0,0.4);
    font-size: 0.8rem;
}

.vantagens__cards-titulo {
    margin-left: 1rem;
}

.vantagens__cards-botao {
    padding: 1rem 2rem;
    background: tomato;
    border-top-right-radius: 0.5rem;
    color: var(--branco);
}

.vantagens__cards-botao:hover {
    color: var(--branco);
}